@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
}
p {
  font-size: 1rem;
  letter-spacing: -0.06rem;
}
* {
  color: #767f87;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  box-shadow: none !important;
}
a {
  color: #939da5;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  color: #939da5;
  text-decoration: none;
}
.btn:focus,
.btn:active {
  outline: none !important;
}
.default-body {
  color: #767f87;
  font-size: 1rem;
  line-height: 1.6rem;
}
.navigation {
  height: 64px;
  border-bottom: 1px solid #d5dde2;
}
.navigation img {
  margin-top: 12px;
  margin-left: -4px;
}
.navigation #nav {
  padding-top: 22px;
  height: 19px;
}
.navigation ul {
  margin: 0;
  padding: 0;
  height: 19px;
}
.navigation ul li {
  display: inline-block;
  height: 19px;
  list-style: none;
}
.navigation ul li a {
  display: inline-block;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
}
.navigation ul li a.active {
  color: #262e33;
  padding-bottom: 18px;
  border-bottom: 4px solid #ffab01;
}
.navigation .login-block {
  float: right;
  display: inline-block;
  padding-top: 14px;
  vertical-align: bottom;
}
.navigation a.btn-success {
  color: #fff;
}
.navigation-index {
  height: 64px;
  background-color: #ffab01;
  border-bottom: 0;
}
.navigation-index ul li a {
  color: #fff;
  display: inline-block;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
}
.navigation-index a.btn-success {
  color: #fff;
}
.navigation-sub {
  width: 220px;
  margin-top: 48px;
}
.navigation-sub .header {
  color: #fff;
  padding: 12px;
  border: 1px solid #262e33;
  background-color: #323b43;
  font-size: 1.2rem;
}
.navigation-sub .menu {
  color: #767f87;
  margin-top: -1px;
  padding: 12px;
  border-top: 1px solid #e6ebef;
  border-bottom: 1px solid #e6ebef;
}
.navigation-sub .menu:hover,
.navigation-sub .menu:active,
.navigation-sub .menu:visited {
  border-top: 1px solid #e59303;
  border-bottom: 1px solid #e59303;
  background-color: #ffab01;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.navigation-sub .menu:hover a,
.navigation-sub .menu:active a,
.navigation-sub .menu:visited a {
  color: #fff;
  text-decoration: none;
}
.content-wrap {
  margin-top: 48px;
}
.content-wrap .header h1 {
  color: #323b43;
  font-size: 3.6rem;
  font-weight: 200;
  letter-spacing: -0.08rem;
}
.content-wrap .header p {
  color: #767f87;
  font-size: 1rem;
  line-height: 1.6rem;
}
.content-wrap .content-block {
  margin-top: 120px;
}
.content-wrap .content-block h2 {
  color: #59626a;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: -0.08rem;
}
.content-wrap .content-block p {
  color: #767f87;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 36px;
}
.content-wrap .content-block .subservice:last-child {
  border-top: 1px solid #e6ebef;
  border-bottom: 1px solid #e6ebef;
}
.content-wrap .content-block .subservice {
  padding: 32px 0;
  border-top: 1px solid #e6ebef;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: -0.06rem;
}
.content-wrap .content-block .subservice img {
  display: block;
  margin-bottom: 16px;
}
.content-wrap .content-block .subservice img.preview {
  width: 420px;
  height: 420px;
  margin: 0;
  border: 1px solid #eff3f6;
  float: right;
}
.content-wrap .content-block table td {
  padding: 14px 0;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}
.content-wrap .block {
  padding: 4px 0;
}
.content-wrap .block .title {
  display: inline-block;
  padding-top: 6px;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
}
.content-wrap .block .input {
  display: inline-block;
}
.content-wrap .btn-block {
  border-top: 1px solid #dee4e9;
  padding-top: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}
.function-block {
  height: 180px;
  padding: 24px 0;
  margin-top: -1px;
  border-top: 1px solid #e6ebef;
  border-bottom: 1px solid #e6ebef;
}
.function-block .icon {
  float: left;
  margin-top: -8px;
}
.function-block h3 {
  color: #262e33;
  width: 320px;
  margin-left: 84px;
  margin-top: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
}
.function-block p.description {
  width: 320px;
  margin: 0 0 0 84px;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: -0.05rem;
}
.function-detail-block {
  width: 100%;
  padding: 0 0 24px 0;
}
.function-detail-block h3 {
  color: #262e33;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6ebef;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6rem;
}
.function-detail-block p.description {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.6rem;
  letter-spacing: -0.05rem;
}
.height-hi {
  height: 260px;
}
.height-low {
  height: 200px;
}
.index-desc {
  display: relative;
}
.index-desc .hero {
  text-align: center;
}
.index-desc .hero h1 {
  color: #262e33;
  margin-top: 148px;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: -2px;
}
.index-desc .hero p {
  width: 800px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: -1px;
  word-break: keep-all;
}
.index-desc .signup {
  width: 100%;
  margin: 0 auto;
  padding-top: 48px;
  text-align: center;
}
.index-desc .signup a {
  width: 184px;
  height: 48px;
  font-size: 20px;
  margin-bottom: 124px;
  padding-top: 8px;
  font-weight: 100;
}
.index-desc .signup input,
.index-desc .signup button {
  display: inline-block;
  vertical-align: top;
}
.index-desc .signup input {
  width: 360px;
  margin-right: 4px;
}
.index-desc .img {
  width: 660px;
  margin: 0 auto;
  padding: 48px 0 148px 0;
  text-align: center;
}
.back {
  position: absolute;
  width: 100%;
  height: 670px;
  top: 64px;
  left: 0;
  background-color: #f5f7f9;
}
.index-feature .img {
  width: 460px;
  height: 390px;
}
.index-feature .description {
  width: 460px;
  height: 390px;
}
.index-feature .description .tag {
  display: inline-block;
  width: 100px;
  height: 32px;
  border-radius: 34px;
  border: 1px solid #ccd5db;
  padding: 8px;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}
.index-feature .description h2 {
  color: #262e33;
  margin-top: 68px;
  margin-bottom: 8px;
  font-size: 1.4rem;
  font-weight: bold;
}
.index-feature .description p {
  color: #767f87;
  font-size: 1rem;
  line-height: 1.6rem;
}
.index-feature .float-right {
  float: right;
}
.index-feature .block {
  height: 390px;
  margin-bottom: 68px;
  border-bottom: 1px solid #dee4e9;
}
.index-feature .block:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.index-workflow {
  margin: 68px 0;
  padding-top: 68px;
  border-top: 1px solid #e6ebef;
  text-align: center;
}
.index-workflow .tag {
  display: inline-block;
  width: 150px;
  height: 32px;
  border-radius: 34px;
  border: 1px solid #ccd5db;
  padding: 8px;
  font-size: 0.6rem;
  font-weight: bold;
}
.index-workflow h2 {
  color: #262e33;
  margin-top: 2.6rem;
  margin-bottom: 8px;
  font-size: 1.4rem;
  font-weight: bold;
}
.index-workflow img {
  margin-top: 48px;
}
.index-function {
  margin: 68px 0;
  padding-top: 68px;
  border-top: 1px solid #e6ebef;
  text-align: center;
}
.index-function h2 {
  color: #262e33;
  margin-top: 2.6rem;
  margin-bottom: 8px;
  font-size: 1.4rem;
  font-weight: bold;
}
.index-function .index-function-block ul li {
  display: inline-block;
  color: #323b43;
  width: 140px;
  padding-top: 90px;
  font-size: 0.79rem;
  font-weight: bold;
  background-position: center 18px;
  background-size: 78px 78px;
  background-repeat: no-repeat;
  list-style: none;
  text-align: center;
  vertical-align: top;
}
.index-function .index-function-block ul li.function-icon-1 {
  background-image: url('../img/feature-1@2x.png');
}
.index-function .index-function-block ul li.function-icon-2 {
  background-image: url('../img/feature-2@2x.png');
}
.index-function .index-function-block ul li.function-icon-3 {
  background-image: url('../img/feature-3@2x.png');
}
.index-function .index-function-block ul li.function-icon-4 {
  background-image: url('../img/feature-4@2x.png');
}
.index-function .index-function-block ul li.function-icon-5 {
  background-image: url('../img/feature-5@2x.png');
}
.index-function .index-function-block ul li.function-icon-6 {
  background-image: url('../img/feature-6@2x.png');
}
.index-function .index-function-block ul li.divider {
  width: 20px;
  height: 140px;
  background-image: url('../img/vertical-divider.svg');
  background-size: 20px 140px;
}
.index-function button {
  margin-top: 24px;
}
.contact {
  margin: 68px 0;
  padding-top: 36px;
  border-top: 1px solid #e6ebef;
  text-align: center;
}
.contact h2 {
  color: #59626a;
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: -0.08rem;
}
.contact input {
  display: inline-block;
  width: 360px;
  margin-right: 4px;
  vertical-align: top;
}
.contact button {
  vertical-align: top;
}
.footer {
  margin: 48px 0;
  padding-top: 36px;
  padding-bottom: 24px;
  border-top: 1px solid #dee4e9;
}
.footer .copyright {
  color: #939da5;
  font-size: 12px;
  line-height: 150%;
}
.footer .copyright object {
  margin-bottom: 14px;
}
.footer .copyright strong {
  display: block;
  color: #262e33;
  font: 18px "omnes-pro";
  font-weight: 400;
  margin-bottom: 3px;
}
.arrow-right {
  display: inline-block;
}
.bg-yellow {
  background-color: #ffab01;
}
.bg-green {
  background-color: #35b37e;
}
.required:before {
  content: "*";
  color: #ffab01;
  margin-right: 2px;
}
.ref {
  color: #bfc8cf;
  font-size: 0.78rem;
}
.ref:before {
  content: "*";
  color: #f29c03;
  margin-right: 2px;
}
@media (min-width: 990px) and (max-width: 1199px) {
  .function-block {
    height: 230px;
  }
  .function-block h3 {
    width: 240px;
  }
  .function-block p.description {
    width: 240px;
  }
  .index-function .index-function-block ul li {
    width: 114px;
    font-size: 0.78rem;
  }
  .content-wrap .content-block .subservice img.preview {
    width: 320px;
    height: 320px;
  }
}
/*
.클래스명 {
	디스플레이: ;
	컬러: ;
	넓이: ;
	높이: ;
	마진: ;
	패딩: ;
	보더: ;
	텍스트: ;
	백그라운드: ;
	기타: ;
}
*/
