* { box-sizing: border-box; }
html { -webkit-font-smoothing: antialiased; } 
body {
	font-family: "source-han-sans-korean", "myriad-pro", sans-serif;
	font-weight: 400;
	font-size:14px;
	color:#939da5;
}

p, h5 {
	font-weight: 500;
	letter-spacing: -0.03em;
	line-height: 160%;
}
h1, h2, h3, h4, h5 { font-family: "europa", sans-serif; }
h1, h5 { margin-bottom:0; color:#262e33; font-weight: 700; }
h3, h4 { color:#262e33;font-weight: 700; }
a:link, a:visited {
	color: #59626a;
	text-decoration: none; 
}

a:hover, a:active {
	text-decoration: none;
}

/* nav */
nav ul {
	position: fixed;
	top:16px;
	width: 160px;
	padding: 0;
}

nav ul li {
	color: #59626a;
	padding:12px 0;
	list-style: none;
	font-family: "europa", sans-serif;
	font-weight: 700;
	display: block;
	border-bottom:1px solid #e6ebef;
	margin-top:-1px;
}

a.active {
	color:#2bb6e0;
}
/* nav */

h1.title {
	margin-top:20px;
	font-weight: 700;
}

section { margin-bottom:36px; }


/* block style */

.header { margin-bottom:24px; }
.paragraph-body {
	margin-bottom:24px;
}
.footer {
	height: 180px;
	font-size:12px;
	font-family: "europa", sans-serif;
	border-top : 1px solid #ccd5db;
	margin-top:72px;
	margin-bottom:36px;
	padding-top:24px;
}

.footer h5{
	font-weight: bold;
}

.description-full {
	color: #939da5;
	font-size: 12px;
	text-align: center;
	border:1px solid #e6ebef;
	padding: 16px;
	margin-top:24px;
	margin-bottom:24px;
}

.description {
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #939da5;
	margin: 4px 0 16px 0;
	padding: 0;
}

.btn-download {
	display: inline-block;
	border: 1px solid #dee4e9;
	border-radius: 3px;
	margin-right:8px;
	padding:12px 16px 14px 16px;
	text-align: center;
	letter-spacing: -0.05em;
} 

.btn-download:hover {
	border: 1px solid #ccd5db;
	background-color: #f5f7f9;
}

.wd-180 { width: 180px; }




/* 단락별 스타일 */

.logo img {
	border:1px solid #e6ebef;
	margin: 4px 0;
}

.logo-small img {
	margin: 4px 0;
}

.logo-download {
	position: absolute;
	width: 134px;
	height: 48px;
	border: 1px solid #dee4e9;
	border-radius: 3px;
	top:86px;
	right:15px;
	text-align: center;
	letter-spacing: -0.05em;
}

.logo-download:hover {
	border: 1px solid #ccd5db;
	background-color: #f5f7f9;
}

.logo-download a {
	margin-top:14px;
	display: inline-block;
	background-image: url(../img/btn-download.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	background-size: 16px 16px;
	padding-left:20px;
}

.border-gray {
	border:1px solid #e6ebef;
}

/* icon */
.icon h3 {
	margin-bottom:8px;
}

/* color */
.pantone {
	display:inline-block;
	margin-top:3px;
	font-size: 12px;
}

.color-box-header {
	height: 86px;
	padding: 14px;
	font-family: "europa";
	font-size:16px;
	font-weight: 700;
	border-radius: 4px 4px 0 0;
}

.box-end {
	border-radius: 0 0 4px 4px;
	margin-bottom: 24px;
}

.color-box {
	padding:14px;
	font-family: "europa";
}

.color-box:after {
    content: '';
    display: block;
    clear: both;
}

.color-weight {
	float:left;
	font-weight: 700;
}

.color-code {
	float:right;
}

.button { margin-bottom:36px; }

.button-set {
	margin-bottom:16px;
}