@dami-charcoal-100: #b1bac2;
@dami-charcoal-200: #939da5;
@dami-charcoal-300: #767f87;
@dami-charcoal-400: #59626a;
@dami-charcoal-500: #323b43;
@dami-charcoal-600: #262e33;
@dami-charcoal-700: #262e33;

@dami-gray-100: #f5f7f9;
@dami-gray-200: #eff3f6;
@dami-gray-300: #e6ebef;
@dami-gray-400: #dee4e9;
@dami-gray-500: #d5dde2;
@dami-gray-600: #ccd5db;
@dami-gray-700: #bfc8cf;

@dami-blue-gra-100: @dami-light-blue-500;
@dami-blue-gra-200: #2a9ecb;
@dami-blue-gra-300: #2887b6;
@dami-blue-gra-400: #2770a1;
@dami-blue-gra-500: #26588b;
@dami-blue-gra-600: #244176;
@dami-blue-gra-700: @dami-blue-500;

@dami-blue-100: #d6dbe5;
@dami-blue-200: #acb2c4;
@dami-blue-300: #7f84a3;
@dami-blue-400: #515782;
@dami-blue-500: #232961;
@dami-blue-600: #1c234c;
@dami-blue-700: #171c3d;
@dami-blue-800: #10142b;

@dami-light-blue-100: #cae1ed;
@dami-light-blue-200: #a2d6ea;
@dami-light-blue-300: #7acce7;
@dami-light-blue-400: #53c1e3;
@dami-light-blue-500: #2bb6e0;
@dami-light-blue-600: #2ca0ce;
@dami-light-blue-700: #2a91ba;
@dami-light-blue-800: #2784a8;

@dami-green-100: #daf9ee;
@dami-green-200: #b1e7d2;
@dami-green-300: #88d6b6;
@dami-green-400: #5ec49a;
@dami-green-500: #35b37e;
@dami-green-600: #32a571;
@dami-green-700: #2e9968;
@dami-green-800: #2a8c60;

@dami-red-100: #fbdee0;
@dami-red-200: #f6b7bd;
@dami-red-300: #f29099;
@dami-red-400: #ed6976;
@dami-red-500: #e84252;
@dami-red-600: #d83f55;
@dami-red-700: #cc3b50;
@dami-red-800: #bf374b;

@dami-orange-100: #fcd7cd;
@dami-orange-200: #febca4;
@dami-orange-300: #ff9a7e;
@dami-orange-400: #ff7857;
@dami-orange-500: #ff5630;
@dami-orange-600: #f24a2f;
@dami-orange-700: #e5462c;
@dami-orange-800: #d8422a;

@dami-yellow-100: #fbf3d9;
@dami-yellow-200: #fce1a3;
@dami-yellow-300: #fdcf6d;
@dami-yellow-400: #febd37;
@dami-yellow-500: #ffab01;
@dami-yellow-600: #f29c03;
@dami-yellow-700: #e59303;
@dami-yellow-800: #d88b03;

@dami-purple-100: #d4d4e8;
@dami-purple-200: #bab7e0;
@dami-purple-300: #9f9bd9;
@dami-purple-400: #857ed1;
@dami-purple-500: #6a61c9;
@dami-purple-600: #5d5bba;
@dami-purple-700: #5755ad;
@dami-purple-800: #504ea0;

@dami-light-brown-100: #fedecb;
@dami-light-brown-200: #feceb1;
@dami-light-brown-300: #febe97;
@dami-light-brown-400: #fdad7d;
@dami-light-brown-500: #fd9d63;
@dami-light-brown-600: #ef9360;
@dami-light-brown-700: #e28b5a;
@dami-light-brown-800: #d68456;
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html { font-size: 15px; font-family: 'Noto Sans KR', sans-serif; word-break: keep-all; }
p { font-size: 1rem; letter-spacing: -0.06rem; }

* { color: @dami-charcoal-300;
	font-family: 'Noto Sans KR', sans-serif;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
*:focus { box-shadow:none !important; }

a { color: @dami-charcoal-200; text-decoration: none; }
a:hover,
a:active,
a:visited { color: @dami-charcoal-200; text-decoration: none; }

.btn:focus,
.btn:active {
   outline: none !important;
}

.default-body {
	color: @dami-charcoal-300;
	font-size: 1rem;
	line-height: 1.6rem;
}

.navigation {
	height: 64px;
	border-bottom: 1px solid @dami-gray-500;
	img {
		margin-top: 12px;
		margin-left:-4px;
	}
	#nav {
		padding-top:22px;
		height: 19px;
	}
	ul {
		margin:0;
		padding:0;
		height: 19px;
	}
	ul li {
		display: inline-block;
		height: 19px;
		list-style: none;
		
	}
	ul li a {
		display: inline-block;
		height: 42px;
		padding-left: 12px;
		padding-right: 12px;
	}
	ul li a.active {
		color: @dami-charcoal-700;
		padding-bottom: 18px;
		border-bottom: 4px solid @dami-yellow-500;
	}

	.login-block {
		float:right;
		display: inline-block;
		padding-top: 14px;
		vertical-align: bottom;
	}

	a.btn-success {
		color: #fff;
	}
}

.navigation-index {
	height: 64px;
	background-color: @dami-yellow-500;
	border-bottom: 0;

	ul li a {
		color: #fff;
		display: inline-block;
		height: 42px;
		padding-left: 12px;
		padding-right: 12px;
	}

	a.btn-success {
		color: #fff;
	}
}

.navigation-sub {
	width: 220px;
	margin-top:48px;

	.header {
		color: #fff;
		padding: 12px;
		border: 1px solid @dami-charcoal-700;
		background-color: @dami-charcoal-500;
		font-size: 1.2rem;
	}

	.menu {
		color: @dami-charcoal-300;
		margin-top: -1px;
		padding: 12px;
		border-top: 1px solid @dami-gray-300;
		border-bottom: 1px solid @dami-gray-300;
		// background-color: @dami-gray-100;
	}

	.menu:hover,
	.menu:active,
	.menu:visited {
		border-top: 1px solid @dami-yellow-700;
		border-bottom: 1px solid @dami-yellow-700;
		background-color: @dami-yellow-500;
			 -o-transition:.3s;
			-ms-transition:.3s;
		   -moz-transition:.3s;
		-webkit-transition:.3s;

		a { color: #fff; text-decoration: none; }
	}
}

.content-wrap {
	margin-top:48px;

	.header {
		h1 {
			color: @dami-charcoal-500;
			font-size: 3.6rem;
			font-weight: 200;
			letter-spacing: -0.08rem;
		}

		p {
			.default-body;
		}
	}

	.content-block {
		margin-top: 120px;

		h2 {
			color: @dami-charcoal-400;
			font-size: 2.4rem;
			font-weight: 400;
			letter-spacing: -0.08rem;
		}

		p {
			.default-body;
			margin-bottom:36px;
		}

		.subservice:last-child {
			border-top: 1px solid @dami-gray-300;
			border-bottom: 1px solid @dami-gray-300;
		}

		.subservice{
			padding: 32px 0;
			border-top: 1px solid @dami-gray-300;
			font-size: 1rem;
			line-height: 1.6rem;
			letter-spacing: -0.06rem; 

			img { display: block; margin-bottom: 16px; }
			img.preview { width: 420px; height: 420px; margin: 0; border:1px solid @dami-gray-200; float:right; }
		}

		table td { padding: 14px 0; font-size: 1rem; text-align: center; vertical-align: middle; }
	}

	.block {
		padding: 4px 0;

		.title {
			display: inline-block;
			padding-top:6px;
			font-size: 13px;
			font-weight: bold;
			vertical-align: middle;
		}
		.input {
			display: inline-block;
		}
	}

	.btn-block {
		border-top: 1px solid @dami-gray-400;
		padding-top: 16px;
		margin-top: 16px;
		margin-bottom: 16px;
		text-align: center;
	}
}

.function-block {
	height: 180px;
	padding: 24px 0;
	margin-top: -1px;
	border-top: 1px solid @dami-gray-300;
	border-bottom: 1px solid @dami-gray-300;

	.icon { float: left; margin-top: -8px; }
	h3 { color: @dami-charcoal-600; width:320px; margin-left: 84px; margin-top: 8px; font-size: 1.2rem; font-weight: bold; line-height: 1.6rem; }
	p.description { width:320px; margin: 0 0 0 84px; font-size: 0.9rem; line-height: 1.5rem; letter-spacing: -0.05rem; }
}

.function-detail-block {
	width: 100%;
	padding: 0 0 24px 0;

	h3 {
		color: @dami-charcoal-600;
		margin-top: 0;
		margin-bottom:16px;
		padding-bottom:16px;
		border-bottom: 1px solid @dami-gray-300;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 1.6rem;
	}

	p.description {
		margin: 0;
		font-size: 0.9rem;
		line-height: 1.6rem;
		letter-spacing: -0.05rem;
	}
}

.height-hi {
	height: 260px;
}

.height-low {
	height: 200px;
}

.index-desc {
	display: relative;

	.hero {
		text-align: center;

		h1 {
			color: @dami-charcoal-700;
			margin-top:148px;
			font-size: 48px;
			font-weight: 100;
			letter-spacing: -2px;
		}

		p {
			width: 800px;
			margin: 0 auto;
			font-size: 1.4rem;
			font-weight: 100;
			letter-spacing: -1px;
			word-break: keep-all;
		}
	}

	.signup {
		width: 100%;
		margin: 0 auto;
		padding-top: 48px;
		text-align: center;

		a {
			width: 184px;
			height: 48px;
			font-size: 20px;
			margin-bottom:124px;
			padding-top:8px;
			font-weight: 100;
		}

		input,
		button { display: inline-block; vertical-align: top; }

		input { width: 360px; margin-right: 4px; }
	}

	.img {
		width: 660px;
		margin: 0 auto;
		padding: 48px 0 148px 0;
		text-align: center;
	}
}

.back {
	position: absolute;
	width: 100%;
	height: 670px;
	top: 64px;
	left: 0;
	background-color: @dami-gray-100;
}

.index-feature {
	.img {
		width: 460px;
		height: 390px;
	}

	.description {
		width: 460px;
		height: 390px;

		.tag {
			display: inline-block;
			width: 100px;
			height: 32px;
			border-radius: 34px;
			border: 1px solid @dami-gray-600;
			padding: 8px;
			font-size: 0.7rem;
			font-weight: bold;
			text-align: center;
		}

		h2 {
			color: @dami-charcoal-600;
			margin-top: 68px;
			margin-bottom: 8px;
			font-size: 1.4rem;
			font-weight: bold;
		}

		p {
			.default-body;
		}
	}

	.float-right {
		float: right;
	}

	.block {
		height: 390px;
		margin-bottom: 68px;
		border-bottom: 1px solid @dami-gray-400;
	}

	.block:last-child {
		margin-bottom: 0;
		border-bottom: 0;
	}
}

.index-workflow {
	margin: 68px 0;
	padding-top: 68px;
	border-top: 1px solid @dami-gray-300;
	text-align: center;

	.tag {
		display: inline-block;
		width: 150px;
		height: 32px;
		border-radius: 34px;
		border: 1px solid @dami-gray-600;
		padding: 8px;
		font-size: 0.6rem;
		font-weight: bold;
	}

	h2 {
		color: @dami-charcoal-600;
		margin-top: 2.6rem;
		margin-bottom: 8px;
		font-size: 1.4rem;
		font-weight: bold;
	}

	img { margin-top: 48px; }
}

.index-function {
	margin: 68px 0;
	padding-top: 68px;
	border-top: 1px solid @dami-gray-300;
	text-align: center;

	h2 {
		color: @dami-charcoal-600;
		margin-top: 2.6rem;
		margin-bottom: 8px;
		font-size: 1.4rem;
		font-weight: bold;
	}

	.index-function-block {
		ul {

			li {
				display: inline-block;
				color: @dami-charcoal-500;
				width: 140px;
				padding-top: 90px;
				font-size: 0.79rem;
				font-weight: bold;
				background-position: center 18px;
				background-size: 78px 78px;
				background-repeat: no-repeat;
				list-style: none;
				text-align: center;
				vertical-align: top;
			}

			li.function-icon-1 { background-image: url('../img/feature-1@2x.png'); }
			li.function-icon-2 { background-image: url('../img/feature-2@2x.png'); }
			li.function-icon-3 { background-image: url('../img/feature-3@2x.png'); }
			li.function-icon-4 { background-image: url('../img/feature-4@2x.png'); }
			li.function-icon-5 { background-image: url('../img/feature-5@2x.png'); }
			li.function-icon-6 { background-image: url('../img/feature-6@2x.png'); }

			li.divider {
				width: 20px;
				height: 140px;
				background-image: url('../img/vertical-divider.svg');
				background-size: 20px 140px;
				
			}
		}

	}
	button { margin-top:24px; }
}

.contact {
	margin: 68px 0;
	padding-top: 36px;
	border-top: 1px solid @dami-gray-300;
	text-align: center;

	h2 {
		color: @dami-charcoal-400;
		font-size: 2.4rem;
		font-weight: 100;
		letter-spacing: -0.08rem;
	}
	input { display: inline-block; width: 360px; margin-right:4px; vertical-align: top; }
	button { vertical-align: top; }
}

.footer {
	margin: 48px 0;
	padding-top: 36px;
	padding-bottom: 24px;
	border-top: 1px solid @dami-gray-400;

	.copyright {
		color: @dami-charcoal-200;
		font-size: 12px;
		line-height: 150%; 

		object { margin-bottom: 14px; }

		strong {
			display: block;
			color: @dami-charcoal-700;
			font: 18px "omnes-pro";
			font-weight: 400;
			margin-bottom: 3px;
		}
	}
}

.arrow-right { display: inline-block; }
.bg-yellow { background-color: @dami-yellow-500; }
.bg-green { background-color: @dami-green-500; }

.required:before {
	content: "*";
	color: @dami-yellow-500;
	margin-right: 2px;
}

.ref {
	color: @dami-gray-700;
	font-size: 0.78rem;
}

.ref:before {
	content: "*";
	color: @dami-yellow-600;
	margin-right: 2px;
}

@media (min-width:990px) and (max-width:1199px) {
	.function-block {
		height: 230px;

		h3 { width:240px; }
		p.description { width:240px; }
	}

	.index-function {
		.index-function-block {
			ul {
				li {
					width: 114px;
					font-size: 0.78rem;
				}
			}
		}
	}

	.content-wrap {
		.content-block {
			.subservice{
				img.preview { width: 320px; height: 320px; }
			}
		}
	}
}

/*
.클래스명 {
	디스플레이: ;
	컬러: ;
	넓이: ;
	높이: ;
	마진: ;
	패딩: ;
	보더: ;
	텍스트: ;
	백그라운드: ;
	기타: ;
}
*/