<div class="row">
	<div class="col-md-8 col-md-offset-2 copyright">
	    <object type="image/svg+xml" data="img/footer-logo.svg" width="120" height="18">현재 브라우저는 iframe을 지원하지 않습니다.</object><br />
	    <!-- <img src="img/footer-logo.png" width="120" height="18" /><br /> -->
	    대표 태용석 / Raiffeisenstraße 7, 63225 Langen, Deutschland<br />
	    개인정보보호책임자 security@weltcon.de<br />
	    © weltCon<br />
	    <br />
	    벨트컨서베이는 트레이딩 매니지먼트 시스템인 벨트컨과 함께 합니다.
	</div>
</div>